{% extends "base.html" %} {% block content %}
<style media="screen">
	td {
		padding: 10px 5px;
	}

	th {
		padding: 10px 5px;
	}

	#tabs-swipe-demo {
		overflow-x: hidden;
	}

	.modal {
		width: 75% !important;
		height: 75% !important;
	}
</style>
<title>Employee Title</title>
<div class="container padtop " id="formdiv">
<div class="row">

	<ul id="tabs-swipe-demo" class="tabs">
		<li class="tab col s6 m6 l6"><a class="active" href="#test-swipe-1">Enter employee</a></li>
		<li class="tab col s6 m6 l6"><a href="#test-swipe-2">List Employee</a></li>
	</ul>
</div>



	<div class="row">
		<div class="col s12  m12  l12  ">



			<div id="test-swipe-1" class="col s12 ">
				<div class="card">
					<div class="card-content ">
						<div class="row ">
							<span class="card-title center-align">Sign Up An Employee</span>
						</div>
						<form class="col s12" id='employee_form'>

							<div class="row">
								<div class="input-field col s12">
									<input id="email" type="email" class="validate">
									<label for="email" data-error="wrong" data-success="right">Email Address</label>
								</div>
							</div>
							<div class="row">
							<div class="input-field col s12">
								<input id="name" type="text" class="validate">
								<label for="name" data-error="wrong" data-success="right">Name</label>
							</div>
						</div>
							<div class="row">

								<div class="input-field col s12">
									<input id="Employeecode" type="text" class="validate" maxlength="3">
									<label for="Employeecode" data-error="wrong" data-success="right">Employee Code</label>
								</div>
							</div>

							<div class="row">
								<div class="input-field col s12">
									<select id="role">
      				<option value="Developer" selected>Developer</option>
      				<option value="Team_leader">Team leader</option>
      				<option value="Project_manager">Project manager</option>
    					</select>
									<label data-error="wrong" data-success="right">Employee Role</label>
								</div>
							</div>
							<div class="row">


								<div class="input-field col s12">
									<input type="text" id="dateofjoin" class="datepicker">
									<label for="dateofjoin" data-error="wrong" data-success="right">Date of Join</label>
								</div>
							</div>


							<div class="row">

								<div class="input-field col s12">
									<select id="report">
								<option value="Team_leader">Team leader</option>
								<option value="Project_manager">Project manager</option>
								</select>
									<label data-error="wrong" data-success="right">Report</label>
								</div>
							</div>
							<div class="row">

								<div class="input-field col s12">
									<input id="password" type="password" class="validate" value="">
									<label for="password">password</label>
								</div>
							</div>
							<div class="row">

								<div class="input-field col s12">
									<!-- {% csrf_token %} -->
									<input id="confirmpassword" type="password" class="validate">
									<label for="confirmpassword">confirm password</label>
								</div>
							</div>

						</form>
					</div>



					<div class="card-content">
						<button class="btn red waves-effect waves-red" id="save-employee" type="submit" value="submit">Submit
							<i class="material-icons right">send</i>
						</button>
					</div>





				</div>
			</div>
		</div>

		<div class="row">

			<div class="col s12 m12 l12">

				<div id="test-swipe-2" class="col s12 ">
					<div class="card" style="padding:0;">
						<div class="card-content">

							<table id="tabledata" class="highlight centered responsive-table">
								<thead>
									<tr>
										<th>Code</th>
										<th>Name</th>
										<th>Email</th>
										<th>DateOfJoin</th>
										<th>Role</th>
										<th>Report To</th>
										<th>Update or Delete</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>



	<div id="modal1" class="modal">
		<div class="modal-content">


			<form class="col s12" id='employee_updateform'>
				<h5 class="card-title center-align">Update The Employee Or Delete Employee</h5>

				<div class="row padtop" >
					<div class="input-field col s12">
						<input id="updateEmployeecode" type="text" class="validate" maxlength="3">
						<label for="updateEmployeecode" class="active">Employee Code</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="updatename" type="text" class="validate">
						<label for="updatename" class="active">Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input type="text" id="updatedateofjoin" class="datepicker" value="">
						<label for="updatedateofjoin" class="active">Date of Join</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<select id="updatereport">
					<option value="Team_leader" selected>Team leader</option>
					<option value="Project_manager">Project manager</option>
					</select>
						<label>Report</label>
					</div>
				</div>

				<div class="card-action center-align">
					<button class="btn red waves-effect waves-red" id="update-employee">Update
				<i class="material-icons right">update</i>
			</button>
					<button class="btn red waves-effect waves-red" id="delete-employee">Delete
			<i class="material-icons right">delete</i>
			</button>
				</div>
			</form>




		</div>
	</div>


</div>
<style type="text/css">
	#preloader-overlay {
		content: '';
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 20000;
	}

	#preloader {
		display: none;
		position: fixed;
		z-index: 20001;
		overflow: show;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
</style>
<div id='preloader-overlay' class="valign-wrapper">
	<div id="preloader" class="preloader-wrapper big active">
		<div class="spinner-layer spinner-red-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript">
	var globalupdateurl;
	var globalupdateemail;
	var dupglobalupdateurl;
	var dupglobalupdateemail;
var asd;
	function getlistdata() {

		$.get("{% url 'employee-api:list' %}", function(data) {
			for (var i = 0; i < data.results.length; i++) {
				switch (data.results[i].emp_role) {
					case 1:
						data.results[i].emp_role = "Developer";
						break;
					case 2:
						data.results[i].emp_role = "Team_leader";
						break;
					case 3:
						data.results[i].emp_role = "Project_manager";
						break;
				}
				$("#tabledata").find('tbody')
					.append($('<tr>')
						.append($('<td>').append(data.results[i].emp_code))
						.append($('<td>').append(data.results[i].emp_name))
						.append($('<td>').append(data.results[i].emp_email))
						.append($('<td>').append(data.results[i].emp_datejoin))
						.append($('<td>').append(data.results[i].emp_role))
						.append($('<td>').append(data.results[i].emp_report))
						.append($('<td>').append("<a class='waves-effect waves-light btn-small modal-trigger ' href=\"#modal1\" onclick='getputdata(\"" + data.results[i].url + "\")'>update/delete</a>"))
					);
			}
		});


	}




	function getputdata(urldata) {
		dupglobalupdateurl = urldata;
		$.get(urldata, function(data) {
			dupglobalupdateemail = data.emp_email;
			switch (data.emp_role) {
				case 1:
					data.emp_role = "Developer";
					break;
				case 2:
					data.emp_role = "Team_leader";
					break;
				case 3:
					data.emp_role = "Project_manager";
					break;
			}
			$('#updateEmployeecode').val(data.emp_code);
			$('#updatename').val(data.emp_name);
			$('#updatedateofjoin').val(data.emp_datejoin);
			$('#updaterole').find(":selected").val(data.emp_role);
			$('#updatereport').find(":selected").val(data.emp_report);


		});
	}

	function closeas() {
		Materialize.Toast.removeAll();
	}



	$(document).ready(function() {


		$('select').material_select();
		$('.modal').modal({
			ready: function(modal, trigger) {
				Materialize.updateTextFields();
			},
		});
		$('.datepicker').pickadate({
			format: 'yyyy-mm-dd',
			selectMonths: true,
			selectYears: 15,
			today: 'Today',
			clear: 'Clear',
			close: 'Ok',
			closeOnSelect: true,
			max: 'Today'
		});
		// listemployee

		Materialize.updateTextFields();

		$.get("{% url 'employee-api:list' %}", function(data) {
			for (var i = 0; i < data.results.length; i++) {
				switch (data.results[i].emp_role) {
					case 1:
						data.results[i].emp_role = "Developer";
						break;
					case 2:
						data.results[i].emp_role = "Team_leader";
						break;
					case 3:
						data.results[i].emp_role = "Project_manager";
						break;
				}
				$("#tabledata").find('tbody')
					.append($('<tr>')
						.append($('<td>').append(data.results[i].emp_code))
						.append($('<td>').append(data.results[i].emp_name))
						.append($('<td>').append(data.results[i].emp_email))
						.append($('<td>').append(data.results[i].emp_datejoin))
						.append($('<td>').append(data.results[i].emp_role))
						.append($('<td>').append(data.results[i].emp_report))
						.append($('<td>').append("<a class='waves-effect waves-light btn-small modal-trigger' href=\"#modal1\" onclick='getputdata(\"" + data.results[i].url + "\")'>update/delete</a>"))
					);
			}
		});


		// post employee



		$("#save-employee").click(function(event) {


			event.preventDefault();
			var emp_email = $('#email').val();
			var emp_name = $('#name').val();
			var emp_code = $('#Employeecode').val();
			var emp_datejoin = $('#dateofjoin').val();
			var emp_role = $('#role').find(":selected").val();
			var emp_report = $('#report').find(":selected").val();
			var password1 = $('#password').val();
			var password2 = $('#confirmpassword').val();
			if (emp_role != emp_report) {

				if (emp_email && emp_name && emp_code && emp_datejoin && emp_role && emp_report && password1 && password2 != "") {
					if (password1 == password2) {
						$('#preloader-overlay').css('display', 'block');
						$('#preloader').css('display', 'block');
						$.ajax({
							type: "POST",
							url: "{% url 'users-api:register' %}",
							data: JSON.stringify({
								"emp_email": `${emp_email}`,
								"emp_name": `${emp_name}`,
								"emp_code": `${emp_code}`,
								"emp_datejoin": `${emp_datejoin}`,
								"emp_role": `${emp_role}`,
								"emp_report": `${emp_report}`,
								"password1": `${password1}`,
								"password2": `${password2}`
							}),
							headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json'
							},
							success: function() {
								Materialize.toast('Yeah! Its Saved', 4000);
								var $toastContent = $('<span>Verification mail is send</span>').add($('<button class="btn-flat toast-action" onclick="closeas()">Ok</button>'));
								Materialize.toast($toastContent, 10000);
								document.getElementById("employee_form").reset();
								$('#preloader-overlay').css('display', 'none');
								$('#preloader').css('display', 'none');
							},
							error: function(XMLHttpRequest, textStatus, errorThrown) {
								// for (var i = 0; i < XMLHttpRequest.responseText.length; i++) {
								$('#preloader-overlay').css('display', 'none');
								$('#preloader').css('display', 'none');
								asd = XMLHttpRequest.responseText
								if (JSON.parse(XMLHttpRequest.responseText).emp_email) {
									Materialize.toast(JSON.parse(XMLHttpRequest.responseText).emp_email[0], 4000);

									document.getElementById("email").focus();
								}
								else if (JSON.parse(XMLHttpRequest.responseText).emp_code) {
									Materialize.toast(JSON.parse(XMLHttpRequest.responseText).emp_code[0], 4000);
									document.getElementById("Employeecode").focus();

								}

								// }
								// alert("some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText));

							}
						});
					} else {
						Materialize.toast("password is in correct", 10000);
						document.getElementById("password").focus();

					}
				} else {
					Materialize.toast("Every Field Is required", 10000);
				}
			} else {
				Materialize.toast("you cannot report to " + emp_report + " change the report field", 10000);
				document.getElementById("report").focus();

			}
		});
		// put employee


		$("#update-employee").click(function(event) {
			globalupdateurl = dupglobalupdateurl;
			globalupdateemail = dupglobalupdateemail;
			globalupdateurl = globalupdateurl + "edit/";

			event.preventDefault();
			var emp_email = globalupdateemail;
			var emp_code = $('#updateEmployeecode').val();
			var emp_name = $('#updatename').val();
			var emp_datejoin = $('#updatedateofjoin').val();
			var emp_report = $('#updatereport').find(":selected").val();
			if (emp_email && emp_name && emp_code && emp_datejoin && emp_report != "") {

				$.ajax({
					type: "PUT",
					url: globalupdateurl,
					data: JSON.stringify({
						"emp_email": `${emp_email}`,
						"emp_name": `${emp_name}`,
						"emp_code": `${emp_code}`,
						"emp_datejoin": `${emp_datejoin}`,
						"emp_report": `${emp_report}`,
					}),
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json'
					},
					success: function() {
						Materialize.toast('Yeah! Its updated', 4000);
						document.getElementById("employee_updateform").reset();
						$('#modal1').modal('close');
						$("#tabledata").find('tbody').find('tr').remove();
						getlistdata()
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						alert("some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText));
					}
				});
			} else {
				Materialize.toast('Every field is required', 4000);

			}
		});


		$("#delete-employee").click(function(event) {
			globalupdateurl = dupglobalupdateurl;
			globalupdateurl = globalupdateurl + "delete/";
			event.preventDefault();
			$.ajax({
				type: "DELETE",
				url: globalupdateurl,
				success: function() {
					Materialize.toast('Yeah! Its Deleted', 4000);
					document.getElementById("employee_updateform").reset();
					$('#modal1').modal('close');
					$("#tabledata").find('tbody').find('tr').remove();
					getlistdata()
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					alert("some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText));
				}
			});
		});




	});
</script>

{% endblock %}
