{% extends "base.html" %} {% block content %}

<title>leave_regimen</title>


<div>
	<div class="row padtop">
		<div class="col s8 offset-s2 m8 offset-m2 l8 offset-l2">
			<div class="card White ">
				<div class="card-content red-text">
					<span class="card-title center-align">Sanction Leave</span>
					<form id="leaveform">
						<div class=" databindclass">



						</div>
					</form>

				</div>
			</div>

		</div>
	</div>


</div>





<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>Do You Want To Sanction</h4>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat" id="leavesanctioned">Agree</a>
		<a class="modal-action modal-close waves-effect waves-green btn-flat" id="leaverejected">Disagree</a>
	</div>
</div>

<script type="text/javascript">
var z=''
	function binddom() {
		$.get("http://localhost:8000/api/leave/", function(data) {
			var check, sanction;
			for (var i = 0; i < data.results.length; i++) {
				if (data.results[i].emp_leavesanction === true) {
					check = "checked"
					sanction = "desanction"
				} else {
					check = ""
					sanction = "saction"

				}
				$(".databindclass").append($('<div class="dasd">').append('<div class=\"row padtop \"><div class=\"col s2 l2 m2 checktag\"><p><input type=\"checkbox\" id='+data.results[i].id+' disabled ' + check +
					'/><label for=\"test5\">Status</label></p></div><div class=\"col s4 l4 m4 center-align checkname\">' + data.results[i].user + '</div><div class=\"col s4 l4 m4 center-align checkdate\">' + data.results[i].emp_leavedate +
					'</div><a class=\"col s2 l2 m2 center-align \"  onclick=sanctionleave(' + data.results[i].id + ')>' + sanction + '</a></div>'));
			}
		});
	}

	function sanctionleave(id) {
		var id = id;
		$('#modal1').modal('open');
		$("#leavesanctioned").click(function(event) {
			if ($('#'+id+'').is(':checked')) {
				z = false
			} else {
				z = true

			}
			$.ajax({
				type: "PUT",
				url: 'http://localhost:8000/api/leave/' + id + '/sanction/',
				data: JSON.stringify({
					"emp_leavesanction": z,
				}),
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				success: function() {
					if(z) {
						Materialize.toast('Yeah! Its sanctioned', 4000);
					}
					else {

						Materialize.toast('Yeah! Its desanctioned', 4000);
					}
					$('#modal1').modal('close');
					$(".dasd").remove();
					binddom()
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					alert("some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText));
				}
			});
		});
	}
	$(document).ready(function() {

		$('.modal').modal({
			ready: function(modal, trigger) {
				Materialize.updateTextFields();
			},
		});

		$.get("http://localhost:8000/api/leave/", function(data) {
			var check, sanction;
			for (var i = 0; i < data.results.length; i++) {
				if (data.results[i].emp_leavesanction === true) {
					check = "checked"
					sanction = "desanction"
				} else {
					check = ""
					sanction = "saction"

				}

				$(".databindclass").append($('<div class="dasd">').append('<div class=\"row padtop \"><div class=\"col s2 l2 m2 checktag\"><p><input type=\"checkbox\" id='+data.results[i].id+' disabled ' + check +
					'/><label for=\"test5\">Status</label></p></div><div class=\"col s4 l4 m4 center-align checkname\">' + data.results[i].user + '</div><div class=\"col s4 l4 m4 center-align checkdate\">' + data.results[i].emp_leavedate +
					'</div><a class=\"col s2 l2 m2 center-align \"  onclick=sanctionleave(' + data.results[i].id + ')>' + sanction + '</a></div>'));
			}
		});




	});
</script>
{% endblock %}
