{% extends "base.html" %} {% block content %}
<title>leave_application</title>

<div>
	<div class="row padtop">
		<div class="col s12 m8 offset-m2 l8 offset-l2">
			<div class="card White ">
				<div class="card-content red-text">
					<span class="card-title center-align">Enter The Date You what to apply leave</span>
					<form id="leaveform">


						<div class="container">
							<input type="text" class="datepicker" id="leavedate" placeholder="Click Here">
							<a class="waves-effect waves-white btn-flat red white-text" id="leavesubmit">Submit</a>
						</div>




					</form>
				</div>
			</div>
			<div class="card White ">
				<div class="card-content red-text">
					<ul class="collection with-header" id="bindpoint">
						<li class="collection-header">
							<h4 class="card-title ">leaves already applied by you</h4></li>

					</ul>

				</div>
			</div>
		</div>
	</div>


</div>
<script type="text/javascript">
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth(); //January is 0!
	var yyyy = today.getFullYear();

	function getlistdata(urldata) {
		$.get("{% url 'leave-api:Leave_list' %}", function(data) {
			for (var i = 0; i < data.results.length; i++) {
				if (data.results[i].user == '{{request.user}}' && data.results[i].user != 'admin') {
					$("#bindpoint")
						.append($('<li class=\"collection-item\" id=\"datedata\">').append(data.results[i].emp_leavedate +"     status:    " + data.results[i].emp_leavesanction))
			}
		}

		});

	}




	$(document).ready(function() {
		function toDate(dateStr) {
			var parts = dateStr.split("-");
			return Date(parts[2], parts[1], parts[0]);
		}
		$('.datepicker').pickadate({
			min: new Date(yyyy, mm, dd - 5),
			max: new Date(2030, 7, 14),
			format: 'yyyy-mm-dd',
			closeOnSelect: true,
			
		});
		$.get("{% url 'leave-api:Leave_list' %}", function(data) {
			for (var i = 0; i < data.results.length; i++) {
				if (data.results[i].user == '{{request.user}}' && data.results[i].user != 'admin') {
					$("#bindpoint")
						.append($('<li class=\"collection-item\" id=\"datedata\">').append(data.results[i].emp_leavedate +"     status:    " + data.results[i].emp_leavesanction))
			}
		}

		});




		$("#leavesubmit").click(function(event) {
			var leavedate = $("#leavedate").val();
			event.preventDefault();
			$.ajax({
				type: "POST",
				url: "{% url 'leave-api:Leave_apply' %}",
				data: JSON.stringify({
					"emp_leavedate": leavedate,
				}),
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				success: function() {
					Materialize.toast('Yeah! Your leave date is added', 4000);
					document.getElementById("leaveform").reset();
					$(".collection-item").remove();
					getlistdata()
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					alert("some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText));
				}
			});
		});


	});
</script>

{% endblock %}
