{% extends "base.html" %} {% block content %}

<title>leave_regimen</title>

{% if user.username == "admin" or user.groups.first.name == "Project_manager" or user.groups.first.name == "Team_leader"%}
<div>
	<div class="row padtop">
		<div class="col s12 m8 offset-m2 l8 offset-l2">
			<div class="card White ">
				<div class="card-content red-text">
					<span class="card-title center-align">Sanction Leave</span>
					<form id="leaveform">
						<div class=" databindclass">

							<table class="responsive-table">
								<thead>
									<tr>
										<th>Status</th>
										<th>Mailid</th>
										<th>Date</th>
										<th>Sanction</th>
									</tr>
								</thead>
								<tbody class="tabledata">

								</tbody>
							</table>
						</div>
					</form>

				</div>
			</div>

		</div>
	</div>


</div>





<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>Do You Want To Sanction</h4>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat" id="leavesanctioned">Agree</a>
		<a class="modal-action modal-close waves-effect waves-green btn-flat" id="leaverejected">Disagree</a>
	</div>
</div>
{% endif %}
<script type="text/javascript">
	var z = ''

	function binddom() {


		$.get("{% url 'leave-api:Leave_list'%}", function(data) {
			var check, sanction;
			for (var i = 0; i < data.results.length; i++) {

				if (data.results[i].emp_leavesanction === true) {
					check = "checked"
					sanction = "desanction"
				} else {
					check = ""
					sanction = "saction"

				}
				$(".tabledata").append('<tr class=\"tablerow\"><ul><li><td><p><input type=\ "checkbox\" id='+data.results[i].id+' disabled ' + check +'/><label for=\ "test5\">Status</label></p></td></li></ul><ul><li><td>' + data.results[i].user + '</td></li></ul><ul><li><td>' + data.results[i].emp_leavedate + '</td></li></ul><ul><li><td><a class=\ "col s2 l2 m2 center-align \" onclick=sanctionleave('+ data.results[i].id+')>'+ sanction+'</a></td></li></ul></tr>');

			}
		});
	}

	function sanctionleave(id) {
		var id = id;
		$('#modal1').modal('open');
		$("#leavesanctioned").click(function(event) {
			if ($('#' + id + '').is(':checked')) {
				z = false
			} else {
				z = true

			}
			$.ajax({
				type: "PUT",
				url: '{% url "leave-api:Leave_list" %}' + id + '/sanction/',
				data: JSON.stringify({
					"emp_leavesanction": z,
				}),
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				success: function() {
					if (z) {
						Materialize.toast('Yeah! Its sanctioned', 4000);
					} else {

						Materialize.toast('Yeah! Its desanctioned', 4000);
					}
					$('#modal1').modal('close');
					$(".tablerow").remove();
					binddom()
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					alert("some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText));
				}
			});
		});
	}
	$(document).ready(function() {

		$('.modal').modal({
			ready: function(modal, trigger) {
				Materialize.updateTextFields();
			},
		});

		$.get("{% url 'leave-api:Leave_list'%}", function(data) {
			var check, sanction;
			for (var i = 0; i < data.results.length; i++) {
				console.log(data);
				if (data.results[i].emp_leavesanction === true) {
					check = "checked"
					sanction = "desanction"
				} else {
					check = ""
					sanction = "saction"

				}
				$(".tabledata").append('<tr class=\"tablerow\"><ul><li><td><p><input type=\ "checkbox\" id='+data.results[i].id+' disabled ' + check +'/><label for=\ "test5\">Status</label></p></td></li></ul><ul><li><td>' + data.results[i].user + '</td></li></ul><ul><li><td>' + data.results[i].emp_leavedate + '</td></li></ul><ul><li><td><a class=\ "col s2 l2 m2 center-align \" onclick=sanctionleave('+ data.results[i].id+')>'+ sanction+'</a></td></li></ul></tr>');

			}
		});




	});
</script>
{% endblock %}
