{% extends "firstapp/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="jumbotron">

	{% if form.errors %}
			<p>Your username and password didn't match.Please try again!</p>
	{% endif %}
	<form enctype="multipart/form-data" method="post" class="d-flex justify-content-center">
		{% csrf_token %}
		<div class="card text-center" style="width: 30rem;">
			<div class="card-header">
				<h4>Please Login Here</h4>
			</div>
			<div class="card-block" style="margin:30px">
				{% bootstrap_form form %}
				

								<input type="submit" class='btn btn-primary' value="Login" />
								<input type="hidden" name="next" value="{{ next }}" />
			</div>
		</div>
	</form>


</div>
{% endblock %}
