<!DOCTYPE html>
<!-- {% load staticfiles %} -->
<html>

<head>
	<meta charset="utf-8">
	<title>Joel Hanson</title>
<link rel="stylesheet" href={%static "styles/mystyle.css" %}>
</head>

<body>
	<!-- <div class="container"> -->
		<!-- <h1>date access_record template</h1> -->
	<!-- </div> -->
<!--
	<div class="container">
		{% if access_record %}
<table class="table">
	<thead>
		<th>Site Name</th>
		<th>Date Accessed</th>
	</thead>
	<tbody>
		{% for acc in access_record %}
		<tr>
			<td>{{ acc.name }}</td>
			<td>{{ acc.date }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>no access record</p>
{% endif %}
	</div> -->

	<h1>welcome</h1>
	<h2><a href="/user">user</a></h2>
</body>

</html>
