<!DOCTYPE html>
<!-- {% load staticfiles %} -->
<html>

<head>
	<meta charset="utf-8">
	<title>Joel Hanson</title>
<link rel="stylesheet" href={%static "styles/mystyle.css" %}>
</head>

<body>
	<!-- <div class="container"> -->
		<!-- <h1>date access_record template</h1> -->
	<!-- </div> -->

	<div class="container">
		<!-- <img src="{% static "images/pics.jpg" %}" alt="image" class="full"> -->
		{% if access_record %}
<table class="table">
	<thead>
		<th>Email</th>
		<th>Firstname</th>
		<th>Lastname</th>

	</thead>
	<tbody>
		{% for acc in access_record %}
		<tr>
			<td>{{ acc.email }}</td>
			<td>{{ acc.firstname }}</td>
			<td>{{ acc.lastname }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>no access record</p>
{% endif %}
	</div>
</body>

</html>
