{% extends "base.html" %} {% block content %}
<title>activate link</title>
<div class="row">
	<div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1 ">
		<div class="container">

			<div class="card-panel red ">
				<h4 class="white-text center-align">Your account is Activated</h4>
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		active = true
		$.ajax({
			type: "PUT",
			url: 'http://'+'{{ request.get_host }}'+'{% url "users-api:activate_list" %}'+{{pk}}+'/',
			data: JSON.stringify({
				"active":active
			}),
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			success: function() {
				Materialize.toast('Yeah! Its Activated', 4000);
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				Materialize.toast(XMLHttpRequest.responseText, 4000);
				Materialize.toast(String(textStatus), 4000);
				Materialize.toast(String(errorThrown), 4000);
				// alert("some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText));
			}
		});

	});
</script>

{% endblock %}
